
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    text-align: left;
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(106, 106, 106);
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}   

.operatorBtn {
    background-color: orange;
}